/* Common Styles */
body {
    background-image: url(../img/arts-background.png);
}
/* Header */
.header-about {
    background-color: var(--arts-primary-clr);
}

.time > p {
    color: var(--arts-primary-clr);
}
/* Tooltip */
.tooltip {
    border-color: var(--arts-primary-clr);
}

.program-items-grid__item:hover {
    background: linear-gradient(
        312.75deg,
        #cc2f94 -14.59%,
        rgba(204, 47, 148, 0) 47.33%
    );
}

/* Точки программы */
.program-items-grid__item {
    border-color: var(--arts-primary-clr) !important;
}

.extra {
    background: var(--arts-primary-clr);
}
/* Mobile styles */
@media only screen and (max-width: 1024px) {
    /* Common styles */
    body {
        background-image: url(../img/arts-background-mobile.png);
    }
}
